<!--Only for Admin-->
@{
    ViewData["Title"] = "Create";
}

<div>
    <h1>Create Event</h1>
    <input type="text" placeholder="Event Name" />
    <input type="text" placeholder="Event Description" />
    <input type="text" placeholder="Event Date" />
    <input type="text" placeholder="Event Location" />
    <button type="submit">Create</button>
</div>