@{
    ViewData["Title"] = "Announcements";
}

<div>
    <h1 style="text-align: center" class="AnnouncementHeading">Announcements</h1>
    <div style="margin: 0 auto">
        <details>
            <summary>Brand new page added!</summary>
            <div class="announcement-body">
                whoop whoop
            </div>

        </details>
        <details>
            <summary>Were doing things!</summary>
            <div class="announcement-body">
                made you look
            </div>
        </details>
        <details>
            <summary>brand new generic fill in information for announcements here</summary>
            <div class="announcement-body">
                ive run out of ideas
            </div>
        </details>
    </div>
</div>
