@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "FAQ";
}
<div>
    <h1 style="text-align: center" class="FAQHeading">Frequently Asked Questions</h1>
</div>
<div style="margin: 0 auto">
    <details>
        <summary>What is this website about?</summary>
        <p>never gonna give you up.</p>
    </details>
    <details>
        <summary>How do I use this website?</summary>
        <p>never gonna let you down</p>
    </details>
    <details>
        <summary>Is this website free?</summary>
        <p>never gonna run around and desert you</p>
    </details>
</div>