@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
@{
    ViewData["Title"] = "Access Denied";
}

<div>
    <h1 style="text-align: center" class="ErrorHeadings">Error</h1>
    <p style="text-align: center">You have done something wrong</p>
    <p style="text-align: center">try again</p>
</div>