@{
    ViewData["Title"] = "Booking";
}

<div>
    <h1>Book a Service</h1>
    <input type="text" placeholder="Full Name" />
    <input type="text" placeholder="Email" />
    <input type="text" placeholder="Event Id" />
    <input type="text" placeholder="Booking Date" />
    <button type="submit">Submit</button>
</div>
